<form method="post">
    <label for="field1">Pole 1:</label>
    <input type="text" id="field1" name="field1" />
    <br />
    <label for="field2">Pole 2:</label>
    <input type="text" id="field2" name="field2" />
    <br />
    <label for="field3">Pole 3:</label>
    <input type="text" id="field3" name="field3" />
    <br />
    <input type="submit" value="Wyślij" />
</form>