@{
    ViewData["Title"] = "Strona główna";
}

<h2>Strona główna</h2>
<ul>
    <li><a href="/Form">Formularz</a></li>
    <li><a href="/Image?name=a.jpg">Zdjęcie a.jpg</a></li>
    <li><a href="/Image?name=b.jpg">Zdjęcie b.jpg</a></li>
    <li><a href="/Image?name=c.jpg">Zdjęcie c.jpg</a></li>
</ul>